<div class="you">
  <p><%= @answer %></p>
  <p class="tag" >- You</p>
</div>

<div class="coach">
  <p><strong><%= @coach_message %></strong></p>
  <p class="tag">- Your coach</p>
</div>


<%= link_to "Ask a new question", ask_path %>
